In [2]:
import pandas as pd
import os

AttributeError: module 'pandas' has no attribute 'write_csv'

In [16]:
colname = "test1"
colvals = ["test2", "test3", "test4"]
try:
    temp_df = pd.read_csv('test.csv')
    temp_df[colname] = colvals
except:
    temp_df = pd.DataFrame(
    {
        colname:colvals
    }
    
    )
temp_df.to_csv('test.csv')

In [17]:
temp_df

    test  test1
0  test1  test2
1  test2  test3
2  test3  test4

In [18]:
temp_df = pd.read_csv('test.csv')

In [19]:
temp_df

   Unnamed: 0   test  test1
0           0  test1  test2
1           1  test2  test3
2           2  test3  test4