In [1]:
import pandas as pd
import os

In [4]:
download_path = '/Users/akhiljalan/Downloads/'
download_files = os.listdir(download_path)

In [5]:
datafile_paths = []

In [6]:
for name in download_files: 
    if '_datasets_full.csv' in name: 
        datafile_paths.append(download_path + name)

In [84]:
datafile_paths[0]

'/Users/akhiljalan/Downloads/berkeley_datasets_full.csv'

In [10]:
test_df = pd.read_csv(datafile_paths[0])

In [12]:
update_times = list(test_df['4/30/18 - time rows updated(days)'])

In [13]:
update_times

[1,
 1,
 1,
 1,
 333,
 677,
 1,
 1227,
 1172,
 1227,
 1227,
 1227,
 1227,
 719,
 594,
 1227,
 1189,
 1227,
 1227,
 1227,
 1227,
 1088,
 6,
 1308]

In [15]:
import numpy as np

In [16]:
np.histogram(update_times)

(array([ 6,  0,  1,  0,  1,  2,  0,  0,  2, 12]),
 array([1.0000e+00, 1.3170e+02, 2.6240e+02, 3.9310e+02, 5.2380e+02,
        6.5450e+02, 7.8520e+02, 9.1590e+02, 1.0466e+03, 1.1773e+03,
        1.3080e+03]))

In [20]:
pd.cut(update_times, bins=20, retbins=True, include_lowest=True)

([(-0.308, 66.35], (-0.308, 66.35], (-0.308, 66.35], (-0.308, 66.35], (327.75, 393.1], ..., (1177.3, 1242.65], (1177.3, 1242.65], (1046.6, 1111.95], (-0.308, 66.35], (1242.65, 1308.0]]
 Length: 24
 Categories (20, interval[float64]): [(-0.308, 66.35] < (66.35, 131.7] < (131.7, 197.05] < (197.05, 262.4] ... (1046.6, 1111.95] < (1111.95, 1177.3] < (1177.3, 1242.65] < (1242.65, 1308.0]],
 array([-3.07000e-01,  6.63500e+01,  1.31700e+02,  1.97050e+02,
         2.62400e+02,  3.27750e+02,  3.93100e+02,  4.58450e+02,
         5.23800e+02,  5.89150e+02,  6.54500e+02,  7.19850e+02,
         7.85200e+02,  8.50550e+02,  9.15900e+02,  9.81250e+02,
         1.04660e+03,  1.11195e+03,  1.17730e+03,  1.24265e+03,
         1.30800e+03]))

In [31]:
test_df['4/30/18 - time rows updated(days)'] = test_df['4/30/18 - time rows updated(days)'].sort_values()

In [33]:
update_days = sorted(test_df['4/30/18 - time rows updated(days)'])

In [34]:
test_df['days_since_updated'] = update_days

In [35]:
out1, out2 = pd.cut(test_df['days_since_updated'], bins=20, retbins=True, include_lowest=True)

In [44]:
out1[3]

Interval(-0.308, 66.35, closed='right')

In [52]:
out1[23]

Interval(1242.65, 1308.0, closed='right')

In [60]:
len(out1)

24

In [54]:
out1[2] == out1[1]

True

In [75]:
cur_interval = out1[0]
upper_bounds = [cur_interval.right]
out_counts = [1]
for i in range(1, len(out1)): 
    if out1[i] == cur_interval: 
        out_counts[-1] += 1
    else: 
        cur_interval = out1[i]
        upper_bounds.append(cur_interval.right)
        out_counts.append(1)

In [76]:
datafile_counts = [np.cumsum(out_counts)]

In [77]:
out_counts

[6, 1, 1, 2, 1, 1, 11, 1]

In [78]:
datafile_counts

[array([ 6,  7,  8, 10, 11, 12, 23, 24])]

In [83]:
int_upper_bounds = [1 + int(x) for x in upper_bounds]

In [107]:
out_file = pd.DataFrame(columns=['Upper Bounds', 'Berkeley'])

In [108]:
out_file['Upper Bounds'] = int_upper_bounds

In [114]:
[5] * 5

[5, 5, 5, 5, 5]

In [112]:
len(datafile_counts[0])

8

In [113]:
len(int_upper_bounds)

9

In [109]:
# out_file['Berkeley'] = datafile_counts[0]

ValueError: Length of values does not match length of index

In [89]:
out_file

   Upper Bounds  Berkeley
0            67         6
1           394         7
2           655         8
3           720        10
4          1112        11
5          1178        12
6          1243        23
7          1309        24

In [103]:
int_upper_bounds.append(int(1e8))

In [104]:
int_upper_bounds

[67, 394, 655, 720, 1112, 1178, 1243, 1309, 100000000]

# All Other Cites

In [115]:
for i in range(1, len(datafile_paths)): 
#     current_df = pd.read_csv(datafile_paths[i])
    if i in [1, 4, 5]: 
        update_times = list(pd.read_csv(datafile_paths[i])['4/30/18 - time rows updated(days)'])
    elif i in [2, 3]: 
        update_times = list(pd.read_csv(datafile_paths[i])['4/30/18 - time updated(days)'])
#     else: 
#         print(pd.read_csv(datafile_paths[i]).columns.values)
#      = list(current_df['4/30/18 - time rows updated(days)'])
    sorted_update_times = sorted(update_times)
    
    out_counts = []
    cur_upper_bound_index = 0
    cur_upper_bound = int_upper_bounds[cur_upper_bound_index]
    
    #establish current upper bound for least value 
    while sorted_update_times[0] > cur_upper_bound: 
        out_counts.append(0)
        cur_upper_bound_index += 1
        cur_upper_bound = int_upper_bounds[cur_upper_bound_index]
    out_counts.append(1)
    
    #loop through all other values
    for i in range(1, len(sorted_update_times)): 
        if sorted_update_times[i] < cur_upper_bound: 
            out_counts[-1] += 1
        else: 
            cur_upper_bound_index += 1
            cur_upper_bound = int_upper_bounds[cur_upper_bound_index]
            out_counts.append(1)
    if len(out_counts) < len(int_upper_bounds): 
        num_missing = len(int_upper_bounds) - len(out_counts)
        out_counts += [sum(out_counts)] * num_missing
    datafile_counts.append(out_counts)

In [116]:
datafile_counts

[array([ 6,  7,  8, 10, 11, 12, 23, 24]),
 [1, 7, 1, 2, 1, 12, 12, 12, 12],
 [4, 6, 3, 1, 35, 2, 1, 1, 23],
 [1, 5, 1, 1, 2, 1, 1, 12, 12],
 [141, 68, 17, 5, 28, 1, 2, 5, 39],
 [78, 26, 6, 1, 2, 1, 114, 114, 114]]

In [119]:
datafile_counts[0] = list(datafile_counts[0]) + [24]

In [120]:
datafile_counts

[[6, 7, 8, 10, 11, 12, 23, 24, 24],
 [1, 7, 1, 2, 1, 12, 12, 12, 12],
 [4, 6, 3, 1, 35, 2, 1, 1, 23],
 [1, 5, 1, 1, 2, 1, 1, 12, 12],
 [141, 68, 17, 5, 28, 1, 2, 5, 39],
 [78, 26, 6, 1, 2, 1, 114, 114, 114]]

In [121]:
[len(x) for x in datafile_counts]

[9, 9, 9, 9, 9, 9]

# Write to File

In [123]:
max_update_time = 0
for i in range(len(datafile_paths)): 
#     current_df = pd.read_csv(datafile_paths[i])
    if i in [1, 4, 5]: 
        update_times = list(pd.read_csv(datafile_paths[i])['4/30/18 - time rows updated(days)'])
    elif i in [2, 3]: 
        update_times = list(pd.read_csv(datafile_paths[i])['4/30/18 - time updated(days)'])
    if max(update_times) > max_update_time:
        max_update_time = max(update_times)

In [124]:
max_update_time

2363

In [127]:
int_upper_bounds[-1] = max_update_time + 1

In [128]:
int_upper_bounds

[67, 394, 655, 720, 1112, 1178, 1243, 1309, 2364]

In [129]:
out_file['Upper Bounds'] = int_upper_bounds

In [130]:
out_file

   Upper Bounds Berkeley
0            67      NaN
1           394      NaN
2           655      NaN
3           720      NaN
4          1112      NaN
5          1178      NaN
6          1243      NaN
7          1309      NaN
8          2364      NaN

In [134]:
for i in range(len(datafile_paths)): 
    filename = datafile_paths[i].split('/Users/akhiljalan/Downloads/')[-1]
    city_name = filename.split('_')[0]
    print(city_name)

berkeley
menlopark
oakland
richmond
sanfrancisco
santarosa

In [135]:
datafile_counts

[[6, 7, 8, 10, 11, 12, 23, 24, 24],
 [1, 7, 1, 2, 1, 12, 12, 12, 12],
 [4, 6, 3, 1, 35, 2, 1, 1, 23],
 [1, 5, 1, 1, 2, 1, 1, 12, 12],
 [141, 68, 17, 5, 28, 1, 2, 5, 39],
 [78, 26, 6, 1, 2, 1, 114, 114, 114]]

In [136]:
out_file['Berkeley'] = datafile_counts[0]
out_file['Menlo Park'] = datafile_counts[1]

In [137]:
out_file

   Upper Bounds  Berkeley  Menlo Park
0            67         6           1
1           394         7           7
2           655         8           1
3           720        10           2
4          1112        11           1
5          1178        12          12
6          1243        23          12
7          1309        24          12
8          2364        24          12

In [138]:
out_file['Oakland'] = datafile_counts[2]

In [139]:
out_file['Richmond'] = datafile_counts[3]

In [140]:
out_file['San Francisco'] = datafile_counts[4]

In [141]:
out_file['Santa Rosa'] = datafile_counts[5]

In [142]:
out_file

,Upper Bounds,Berkeley,Menlo Park,Oakland,Richmond,San Francisco,Santa Rosa
0,67,6,1,4,1,141,78
1,394,7,7,6,5,68,26
2,655,8,1,3,1,17,6
3,720,10,2,1,1,5,1
4,1112,11,1,35,2,28,2
5,1178,12,12,2,1,1,1
6,1243,23,12,1,1,2,114
7,1309,24,12,1,12,5,114
8,2364,24,12,23,12,39,114

In [143]:
np.cumsum(datafile_counts[3])

array([ 1,  6,  7,  8, 10, 11, 12, 24, 36])

In [144]:
col_names = out_file.columns.values

In [146]:
for name in col_names[1:]:
    cum_sum = np.cumsum(out_file[name])
    out_file[name] = cum_sum

In [148]:
for name in col_names[1:]:
    percentage_vals = out_file[name] / max(out_file[name])
    out_file[name] = percentage_vals

In [149]:
out_file

,Upper Bounds,Berkeley,Menlo Park,Oakland,Richmond,San Francisco,Santa Rosa
0,67,0.048,0.016667,0.052632,0.027778,0.460784,0.171053
1,394,0.104,0.133333,0.131579,0.166667,0.683007,0.228070
2,655,0.168,0.150000,0.171053,0.194444,0.738562,0.241228
3,720,0.248,0.183333,0.184211,0.222222,0.754902,0.243421
4,1112,0.336,0.200000,0.644737,0.277778,0.846405,0.247807
5,1178,0.432,0.400000,0.671053,0.305556,0.849673,0.250000
6,1243,0.616,0.600000,0.684211,0.333333,0.856209,0.500000
7,1309,0.808,0.800000,0.697368,0.666667,0.872549,0.750000
8,2364,1.000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
out_file.to_csv('')

In [106]:
out_counts

[78, 26, 6, 1, 2, 1]

In [99]:
pd.read_csv(datafile_paths[2])

,Category,Created,Index Updated,Name,Number of Downloads,Number of Views,Tags,URL,View Last Modified,4/30/18 - time created(days),4/30/18 - time updated(days)
0,Financial,1366227257,1414703014,City of Oakland Proposed Policy Budget FY2013-15,642,15769,"['budget', 'public', 'data', 'statistics', 'da...",https://data.oaklandnet.com/Financial/City-of-...,1426521841,1838,1838
1,Public Safety,1358971390,1524924060,CrimeWatch Maps Past 90-Days,3658,13527,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Safety/Crim...,1426521839,1922,1
2,Infrastructure,1366135056,1522413430,Service requests received by the Oakland Call ...,1143,12830,"['public works', 'service requests', 'pot hole...",https://data.oaklandnet.com/Infrastructure/Ser...,1491954484,1839,30
3,Infrastructure,1363734611,1414725798,Service requests received by Public Works,563,7634,"['public works', 'service requests', 'pot hole...",https://data.oaklandnet.com/Infrastructure/Ser...,1426521840,1867,1867
4,Environmental,1358885493,1414647713,Oakland Street Trees,686,6888,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Environmental/Oakl...,1426521840,1923,1923
5,Public Safety,1434559472,1436914768,All license plate reader data (ALPR) 3/19/2014...,365,4596,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1436907018,1047,1047
6,Environmental,1358483748,1414726110,Public Works Volunteer Opportunities,479,3782,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Environmental/Publ...,1426521840,1928,1913
7,Public Services,1385510573,1414778268,Drainage Inlets,419,3085,"['drain', 'inlet', 'drainage inlets', 'public'...",https://data.oaklandnet.com/Public-Services/Dr...,1385511212,1615,1615
8,Public Safety,1390344376,1414647003,Crimewatch Data 2013,531,3029,"['crime', 'public', 'data', 'statistics', 'dat...",https://data.oaklandnet.com/Public-Safety/Crim...,1390344898,1559,1559
9,Financial,1395444862,1414777831,City of Oakland Adopted Policy Budget FY13-15,349,3024,"['financial', 'budget', 'public', 'data', 'sta...",https://data.oaklandnet.com/Financial/City-of-...,1426521847,1500,1500
10,Financial,1430328034,1430425538,Proposed Budget for Fiscal Years 2015-2017,511,2941,"['budget', 'public', 'data', 'statistics', 'da...",https://data.oaklandnet.com/Financial/Proposed...,1430424408,1096,1096
11,Financial,1401384875,1414702762,Campaign Finance - Filers with Delinquent Camp...,277,2792,"['fppc', 'public ethics commission', 'pec', 'c...",https://data.oaklandnet.com/Financial/Campaign...,1402526389,1431,1431
12,Public Safety,1393022782,1414647230,Crimewatch Data 2012,451,2497,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Safety/Crim...,1393276389,1528,1528
13,Financial,1427409480,1427412314,Five-Year Financial Forecast 2016-2020,357,1708,"['budget', 'finance', 'survey', 'five-year', '...",https://data.oaklandnet.com/Financial/Five-Yea...,1427409692,1130,1130
14,Financial,1425316607,1425322094,Budget Data For Public Adopted FY2014-15 Midcy...,235,1526,"['budget', 'finance', 'midcycle budget', 'publ...",https://data.oaklandnet.com/Financial/Budget-D...,1425317488,1154,1154
15,Public Safety,1434551060,1440171916,All license plate reader data (ALPR) 8/26/2012...,261,1410,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1440171539,1047,1047
16,Public Safety,1434574409,1434582370,All License Plate Reader Data (ALPR) September...,267,1402,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1434577858,1047,1047
17,Public Services,1448929477,1448939326,PRR #10437,198,1397,"['crime statistics', 'public', 'data', 'statis...",https://data.oaklandnet.com/Public-Services/PR...,1448931047,881,881
18,Public Safety,1437155119,1437159084,All license plate reader data (ALPR) 4/1/14 t...,304,1379,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1437156642,1017,1017
19,Financial,1432679751,1432681936,PRR 9545 - Street Sweeping 2013 - 2015 05.08.2015,654,1326,"['prr 9545', 'public', 'data', 'statistics', '...",https://data.oaklandnet.com/Financial/PRR-9545...,1432680970,1069,1069
20,Public Safety,1434550595,1440171916,All license plate reader data (ALPR) 8/6/2012-...,307,1314,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1440171547,1047,1047
21,Public Services,1445273184,1445276251,Shotspotter Data 1-1-13 To 12-31-14,221,1261,"['shotspotter', 'shot spotter', 'public', 'dat...",https://data.oaklandnet.com/Public-Services/Sh...,1445274020,923,923
22,Public Safety,1434558826,1440171698,All license plate reader data (ALPR) 12/19/201...,264,1239,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1440171507,1047,1047
23,Public Safety,1434491935,1440172529,All license plate reader data (ALPR) 12-23-20...,278,1204,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1440171561,1048,1048
24,Infrastructure,1358885192,1414778610,Traffic Signals,451,1191,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Infrastructure/Tra...,1426521841,1923,1923
25,Financial,1431980087,1432053623,FY14-15 Midcycle to FY15-17 Proposed Budget Co...,213,1184,"['budget', 'proposed', 'public', 'data', 'stat...",https://data.oaklandnet.com/Financial/FY14-15-...,1431984694,1077,1077
26,Public Safety,1434557566,1440171725,All license plate reader data (ALPR) 3/1/2013-...,266,1180,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1440171527,1047,1047
27,Public Safety,1434555185,1440171916,All license plate reader data (ALPR) 10/20/201...,260,1147,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1440171535,1047,1047
28,Public Services,1359610151,1414727800,Parks and Recreation Facilities,459,1141,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Services/Pa...,1426521839,1915,1915
29,Public Safety,1434556911,1440171726,All license plate reader data (ALPR) 11/20/201...,243,1074,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1440171532,1047,1047
...,...,...,...,...,...,...,...,...,...,...,...
46,Public Safety,1359007855,1414647849,Problem Solving Officer Directory,531,738,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Safety/Prob...,1426521841,1922,1922
47,Public Services,1445298870,1445300224,Shotspotter Data 8-16-15 To 9-15-15,195,701,"['shotspotter', 'shot spotter data', 'public',...",https://data.oaklandnet.com/Public-Services/Sh...,1445298940,923,923
48,City Government,1462376664,1462389462,Oakland Workforce Demographics As Of 12-31-2015,159,650,"['city employees', 'workforce demographics', '...",https://data.oaklandnet.com/City-Government/Oa...,1462381096,725,725
49,Public Safety,1361598456,1414647215,Fire Station Locations,357,590,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Safety/Fire...,1426521842,1892,1892
50,Public Services,1445299152,1445300307,Shotspotter Data 9-16-15 To 10-6-15,227,569,"['shotspotter', 'shot spotter data', 'public',...",https://data.oaklandnet.com/Public-Services/Sh...,1445299221,923,923
51,Public Services,1471565278,1471735013,Jun 2014 - May 2015,58,539,"['parking tickets', 'public', 'data', 'statist...",https://data.oaklandnet.com/Public-Services/Ju...,1471565726,619,619
52,Public Safety,1359001455,1414777747,NCPC Meeting Roster,455,514,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Safety/NCPC...,1426521839,1922,1891
53,Education,1357777011,1414727185,Head Start Locations,384,514,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Education/Head-Sta...,1426521841,1936,1936
54,Public Services,1471567980,1471735907,Jun 2016 - 15 Aug 2016,54,505,"['parking tickets', 'public', 'data', 'statist...",https://data.oaklandnet.com/Public-Services/Ju...,1471568131,619,619
55,Public Services,1358921016,1414777542,Oakland Public Library Branch Locations And Hours,343,503,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Services/Oa...,1426521842,1923,1923
56,Infrastructure,1361601939,1414778610,Current Paving Contracts,378,497,"['streets', 'public', 'data', 'statistics', 'd...",https://data.oaklandnet.com/Infrastructure/Cur...,1426521844,1892,1892
57,Public Services,1471567382,1471735287,Jun 2015 - May 2016,64,467,"['parking citations', 'public', 'data', 'stati...",https://data.oaklandnet.com/Public-Services/Ju...,1471567715,619,619
58,Environmental,1358565026,1414647553,Oakland Certified Green Businesses,407,417,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Environmental/Oakl...,1426521844,1927,1927
59,Public Services,1408483170,1415300683,2014 Lobbyist Activity,296,374,"['ethics', 'open government', 'lobbyist', 'pub...",https://data.oaklandnet.com/Public-Services/20...,1415300679,1349,1270
60,Public Services,1445294905,1445296246,Shotspotter Data 8-1-15 To 8-31-15,192,345,"['shotspotter', 'shot spotter data', 'public',...",https://data.oaklandnet.com/Public-Services/Sh...,1445295091,923,923
61,Public Safety,1434550826,1439919572,All license plate reader data (ALPR) 9/15/2012,246,333,"['license plate', 'police department', 'public...",https://data.oaklandnet.com/Public-Safety/All-...,1439918656,1047,1047
62,Public Services,1361597711,1414646097,Boards & Commissions,398,302,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Services/Bo...,1426521845,1892,1892
63,Public Services,1363735972,1414702518,Wildfire Prevention Assessment District Engine...,359,226,"['wpad', 'budget', 'public', 'data', 'statisti...",https://data.oaklandnet.com/Public-Services/Wi...,1426521844,1867,1867
64,Public Services,1408483700,1415300652,2014 Lobbyist Directory,300,224,"['ethics', 'transparency', 'open government', ...",https://data.oaklandnet.com/Public-Services/20...,1415300609,1349,1270
65,City Government,1467417554,1467418238,Oakland SB 272 Enterprise IT Systems Catalog,117,210,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/City-Government/Oa...,1467418126,667,667
66,Life Enrichment,1432760126,1432761154,FY14-15 Cultural Funding Program Grant Recomme...,227,195,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Life-Enrichment/FY...,1432760488,1068,1068
67,City Government,1498515068,1519775558,2017 Ticket Distribution List,42,185,"['2017 ticket distribution list', 'public', 'd...",https://data.oaklandnet.com/City-Government/20...,1519775466,307,61
68,Public Safety,1375830013,1414777530,2013 Large National Night Out Parties By Organ...,347,175,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Safety/2013...,1426521846,1727,1727
69,Financial,1493328927,1493428603,FY2017-19 Mayor's Proposed Budget Expenditures,18,123,"['budget', 'proposed budget', 'expenditures', ...",https://data.oaklandnet.com/Financial/FY2017-1...,1493428580,367,367
70,City Government,1519686228,1523571711,2018 Ticket Distribution,8,75,"['tickets', 'sports', 'events', 'oracle', 'col...",https://data.oaklandnet.com/City-Government/20...,1523571704,62,17
71,Public Services,1504897898,1504898743,Records For 2016,12,64,"['public', 'data', 'statistics', 'dataset']",https://data.oaklandnet.com/Public-Services/Re...,1504898817,233,233
72,Public Services,1504879541,1504880202,Records For 2015,10,54,"['crime statistics', 'public', 'data', 'statis...",https://data.oaklandnet.com/Public-Services/Re...,1504886848,233,233
73,Public Services,1504274417,1504301099,Records For 2012,7,52,"['prr 20055', 'public', 'data', 'statistics', ...",https://data.oaklandnet.com/Public-Services/Re...,1504305617,240,240
74,Public Services,1504623152,1504623452,Records For 2013,6,31,"['crime statistics', 'prr 20055', 'public', 'd...",https://data.oaklandnet.com/Public-Services/Re...,1504623446,236,236
75,Public Services,1510240379,1510241713,PRR 2635 2010,7,12,"['crime lab employees', 'public', 'data', 'sta...",https://data.oaklandnet.com/Public-Services/PR...,1510240936,171,171

In [ ]:
['4/30/18 - time rows updated(days)'])

In [67]:
out2[1:]

array([  66.35,  131.7 ,  197.05,  262.4 ,  327.75,  393.1 ,  458.45,
        523.8 ,  589.15,  654.5 ,  719.85,  785.2 ,  850.55,  915.9 ,
        981.25, 1046.6 , 1111.95, 1177.3 , 1242.65, 1308.  ])

In [71]:
out1[0].right

66.35

In [64]:
out1

0       (-0.308, 66.35]
1       (-0.308, 66.35]
2       (-0.308, 66.35]
3       (-0.308, 66.35]
4       (-0.308, 66.35]
5       (-0.308, 66.35]
6       (327.75, 393.1]
7       (589.15, 654.5]
8       (654.5, 719.85]
9       (654.5, 719.85]
10    (1046.6, 1111.95]
11    (1111.95, 1177.3]
12    (1177.3, 1242.65]
13    (1177.3, 1242.65]
14    (1177.3, 1242.65]
15    (1177.3, 1242.65]
16    (1177.3, 1242.65]
17    (1177.3, 1242.65]
18    (1177.3, 1242.65]
19    (1177.3, 1242.65]
20    (1177.3, 1242.65]
21    (1177.3, 1242.65]
22    (1177.3, 1242.65]
23    (1242.65, 1308.0]
Name: days_since_updated, dtype: category
Categories (20, interval[float64]): [(-0.308, 66.35] < (66.35, 131.7] < (131.7, 197.05] < (197.05, 262.4] ... (1046.6, 1111.95] < (1111.95, 1177.3] < (1177.3, 1242.65] < (1242.65, 1308.0]]

In [58]:
out_counts

[7, 1, 1, 2, 1, 1, 11, 1]

In [59]:
sum(out_counts)

25

In [23]:
out1, out2 = pd.cut(test_df['4/30/18 - time rows updated(days)'], bins=20, retbins=True, include_lowest=True)

In [24]:
out1

0       (-0.308, 66.35]
1       (-0.308, 66.35]
2       (-0.308, 66.35]
3       (-0.308, 66.35]
4       (327.75, 393.1]
5       (654.5, 719.85]
6       (-0.308, 66.35]
7     (1177.3, 1242.65]
8     (1111.95, 1177.3]
9     (1177.3, 1242.65]
10    (1177.3, 1242.65]
11    (1177.3, 1242.65]
12    (1177.3, 1242.65]
13      (654.5, 719.85]
14      (589.15, 654.5]
15    (1177.3, 1242.65]
16    (1177.3, 1242.65]
17    (1177.3, 1242.65]
18    (1177.3, 1242.65]
19    (1177.3, 1242.65]
20    (1177.3, 1242.65]
21    (1046.6, 1111.95]
22      (-0.308, 66.35]
23    (1242.65, 1308.0]
Name: 4/30/18 - time rows updated(days), dtype: category
Categories (20, interval[float64]): [(-0.308, 66.35] < (66.35, 131.7] < (131.7, 197.05] < (197.05, 262.4] ... (1046.6, 1111.95] < (1111.95, 1177.3] < (1177.3, 1242.65] < (1242.65, 1308.0]]

In [25]:
out2

array([-3.07000e-01,  6.63500e+01,  1.31700e+02,  1.97050e+02,
        2.62400e+02,  3.27750e+02,  3.93100e+02,  4.58450e+02,
        5.23800e+02,  5.89150e+02,  6.54500e+02,  7.19850e+02,
        7.85200e+02,  8.50550e+02,  9.15900e+02,  9.81250e+02,
        1.04660e+03,  1.11195e+03,  1.17730e+03,  1.24265e+03,
        1.30800e+03])

In [16]:
colname = "test1"
colvals = ["test2", "test3", "test4"]
try:
    temp_df = pd.read_csv('test.csv')
    temp_df[colname] = colvals
except:
    temp_df = pd.DataFrame(
    {
        colname:colvals
    }
    
    )
temp_df.to_csv('test.csv')

In [17]:
temp_df

    test  test1
0  test1  test2
1  test2  test3
2  test3  test4

In [18]:
temp_df = pd.read_csv('test.csv')

In [19]:
temp_df

   Unnamed: 0   test  test1
0           0  test1  test2
1           1  test2  test3
2           2  test3  test4