In [2]:
import pandas as pd
import os

AttributeError: module 'pandas' has no attribute 'write_csv'

In [6]:
colname = "test"
colvals = ["test1", "test2", "test3"]
try:
    pd.read_csv('test.csv')
except:
    temp_df = pd.DataFrame(
    {
        colname:colvals
    }
    
    )
    temp_df.to_csv('test.csv')

    test
0  test1
1  test2
2  test3